@{
    ViewData["Title"] = "Fatura Ekstre";
}
<h2>Ödenmiş Faturalar</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fatura Name</th>
            <th scope="col">Payment Date</th>
            <th scope="col">Ekstre</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Ekstre</td>
        </tr>
    </tbody>
</table>